<div class="dashboard-container">
	<div class="card-header">
		<h4 class="post-title"><a
				class="link"
				href="/dashboard/edit/{{id}}"
			>{{title}}</a></h4>
		<div class="card-body">
			<p class="post-body">{{content}}</p>
			<p class="text-details">Posted by
				<span class="post-username">{{user.username}}</span>
				on
				{{format_date created_at}}</p>
		</div>
	</div>
</div>