<div class="card-container">
	<div class="card-title">
		<h4><a class="link" href="/post/{{id}}">{{title}}</a></h4>
		<p>Posted by {{user.username}} on </p>
	</div>
	<p class="card-body">{{content}}</p>
</div>
{{!-- {{format_date created_at}} --}}