<div class="card-container">
	<div class="card-title">
		<h4><a class="link" href="/post/{{id}}">{{title}}</a></h4>
		<p class="posted-by">Posted by {{user.username}} </p>
	</div>
	<p class="card-body">{{text_content}}</p>
</div>
{{!-- {{format_date created_at}} --}}